*{
    font-family: 'Prompt', sans-serif;
    color: white;
}
body {
    background: url(./bg-img.jpg) center / cover;
    font-family: helvetica;
}

.border {
    border: 4px solid red;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#small {
    font-size: 1.4vmax;
}

#hello {
    color: red;
    font-size: 1.8vmax;
}

#name {
    font-size: 5vmax;
}

#status {
    font-size: 2.4vmax;
}

.fab {
    margin: 0 15px 0 15px;
}

button {
    color: aqua;
    font-size: 1.4vmax;
    border: 0.1vh solid aqua;
    padding: 1.4vh 2.5vh 1.4vh 2.5vh;
    border-radius: 1vh;
    margin: 4vh;
    cursor: pointer;
    background: transparent;
    -webkit-border-radius: 1vh;
    -moz-border-radius: 1vh;
    -ms-border-radius: 1vh;
    -o-border-radius: 1vh;
}

button:hover {
    border: 0.1vh solid white;
    transition: ease-in-out 0.3s;
    background-color: white;
    color: black;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
}



@media screen and (min-width: 1300px) {
    .fa-3x {
        font-size: 65px;
    }
    
}

@media screen and (max-width: 700px) {

    button {
        margin: 4vh 0 0 0;
    }
    
    #name {
    font-size: 3.5vmax;
    }


    .fa-3x {
        font-size: 40px;
        margin: 1vh 1vh 0 0;
    }
    
}

section {
    background-color: #0A0C12;
}
